#secaoTreinamentos {
  background-color: #e3e6e8;
  padding-top: 20px;
  
}

#aqui {
  padding-top: 25px;
  padding-bottom: 50px;
}

#navbar-nav {
  color: white;
}

.linkBar {
  color: white;
}

.linkBar:hover {
  color: white;
}

#containerImagem {
  padding-top: 61px;
}

#radioSexo {
  padding-left: 20px;
  padding-right: 0px;
}

@font-face {
  font-family: 'kiro';
  font-style: normal;
  font-weight: normal;
  src: local('kiro'), url('kiro.otf') format('truetype');
}

.oi {
  outline: none;
  border: none;
  border-bottom: 2px solid #d9d9d9;
}

#fraseTitulo{
  
  color:white;
  font-weight: bold;
  font-family: roboto;
  font-size:42px;
}
#fraseTitulo2{
 
  color: white;
  font-weight: lighter;
  font-family: roboto;
  font-size:24px;
}

#linhaTitulo{
    background-color: white;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 229px;
    height: 2px;
}




.card-title {
  background-image: url('/FluigTrainning/resources/images/capa1.png');
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 15px;
  text-align: center;
}


.card-text {
  padding: 20px;
  overflow: hidden;
}

.card-body {
  padding: 0px !important;

}

.toggle.android {
  border-radius: 0px;
}

.toggle.android .toggle-handle {
  border-radius: 0px;
}


#nav {
  background: #4a4a4a;
}

li {
  padding-left: 30px;
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding-left: 15px;

}

.imagem {
  background-image: url('/FluigTrainning/resources/images/capa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  height: calc(-13vh + 364px)

}


.row {
  margin-right: 0px;
  margin-left: 0px;
}



nav {
  position: sticky;
  top: 0;
}


#textoFaixa {
  color: white;
  text-align: left;
  padding-left: 10%;
}

#dadosTreinamento {
  padding-bottom: 10px;
}

#descricaoModal {
  text-align: justify;
}

.frases{
position: relative;
top:20%;
}

#tituloModal {
  text-align: center;
}

.spanModal {
  font-size: 1rem;
  font-weight: 500;
}

.active {
  background-color: #ff9d19 !important;
  border-color: #ff9d19 !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ff9d19 !important;
  border-color: #ff9d19 !important;
}

.btn-group button {
  border-radius: 0px;
  background: #4a4a4a;
  border-color: #4a4a4a;
}

#balao {
  position: absolute;
  background: rgba(255, 255, 255, .8);
  clear: both;
  float: none;
  display: inline-block;
  color: #1f1e1d;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 35px;
  padding: 7px 25px;
  margin-right: 10px;
  bottom: 25%;
  width: fit-content;
  right: auto;
}



.modal {
  text-align: center;

  
}



/* 
@media(max-width: 954px) {

  #fraseTitulo{
  
    font-size:67px;
  }
  #fraseTitulo2{
    font-size:28px;
  
  }
  
} */
/* @media(max-width: 802px) {

  #fraseTitulo{
  
    font-size:48px;
  }
  #fraseTitulo2{
    font-size:21px;
   }

   #linhaTitulo{
    background-color: white;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 300px;
    height: 2px;
    
}

} */


@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

}

@media(max-width: 480px) {
#sede{
  margin-left: 0;
  display: block !important;
  width: auto !important;
  text-align: center

}

  .btn-group {
    margin-left: 0;
    display: block !important;
    width: auto !important;
    text-align: center
  }

  #poa {
    margin: 10px;
  }

  #caxias {
    margin: 10px;
  }

  
  #linhaTitulo{
    background-color: white;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    height: 2px;
    width: 50px;
    
}
  #fraseTitulo{
  
    font-size:25px;
  }
  #fraseTitulo2{
    font-size:10px;
  
  }
}


.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#insiraCnpj::placeholder{
  font-size:12px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ff7e00;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  position: absolute;
  margin-left: 45%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal-content {
  width: 100%;
}


#continuar {
  font-weight: bold;
  background-color: #ffb34c;
  border-color: #ffb34c;
}

#validar {
  font-weight: bold;
  background-color: #ffb34c;
  border-color: #ffb34c;
}

#confirmarInsc {
  font-weight: bold;
  background-color: #ffb34c;
  border-color: #ffb34c;
}

.arrowSlide{

  width: 50%;
}