<label>

<head>
    <meta charset="utf-8">
    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="https://nightly.datatables.net/select/css/select.dataTables.css?_=9a6592f8d74f8f520ff7b22342fa1183.css"
        rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="/style-guide/css/fluig-style-guide.min.css" />
    <link type="text/css" rel="stylesheet" href="registroCadastroDeTreinamento.css" />
    <script type="text/javascript" src="/portal/resources/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="/portal/resources/js/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/portal/resources/js/mustache/mustache-min.js"></script>
    <script type="text/javascript" src="/style-guide/js/fluig-style-guide.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/style-guide/js/fluig-style-guide.min.js" charset="utf-8"></script>

</head>

<body>
    <div class="fluig-style-guide">
        <form name="form" role="form">
            <div class="container">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i
                            class="fluigicon fluigicon-process-automatic-send icon-md"></i>&nbsp;&nbsp;CADASTRO/ALTERAï¿½ï¿½O
                        DE TREINAMENTO
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="titulo">Titulo do Treinamento</label>
                                <input id="titulo" name="titulo" type="text" class="form-control" maxlength="40">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="instrutor">Instrutor</label>
                                <input type="zoom" id="instrutor" name="instrutor" data-zoom="{
                                    'displayKey':'colleagueName',
                                    'datasetId':'colleague',
                                    'placeholder':'Escolha o instrutor',
                                    'fields':[
                                    {
                                    'field':'colleagueName',
                                    'label':'Nome',
                                    'standard':'true'
                                    },
                                    {'field':'colleagueId',
                                    'label':'Matricula',
                                    'setVisible':'true'
                                    }
                                    ]
                                    }" />
                            </div>
                            <div class="form-group col-md-2">
                                <label for="status">Status</label>
                                <select type="select" class="form-control" name="status" id="status">
                                    <option value="Ativo" selected>Ativo</option>
                                    <option value="Inativo">Inativo</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label for="dataTreinamento">Data</label>
                                <input type="text" name="dataTreinamento" id="dataTreinamento" class="form-control">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="horario">HorÃ¡rio</label>
                                <input type="time" name="horario" id="horario" class="form-control">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="unidade">Selecione a Unidade</label>
                                <select type="select" class="form-control" name="unidade" id="unidade">
                                    <option value="Porto Alegre" selected>Porto Alegre</option>
                                    <option value="Caxias do Sul">Caxias Do Sul</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="quorum">Quorum</label>
                                <input id="quorum" name="quorum" type="number" class="form-control col-md-2">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="nVagas">Total de Vagas</label>
                                <input id="nVagas" name="nVagas" type="number" class="form-control col-md-2">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="valor">Valor por participante</label>
                                <input id="valor" name="valor" type="text" class="form-control col-md-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="descricaoResumida">DescriÃ§Ã£o Resumida:</label>
                                <textarea name="descricaoResumida" id="descricaoResumida" cols="100" rows="3"
                                    class="form-control" maxlength="110"
                                    placeholder="Esta descriÃ§Ã£o ira aparecer no card miniatura..."></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="descricaoCompleta">DescriÃ§Ã£o Completa:</label>
                                <textarea name="descricaoCompleta" id="descricaoCompleta" cols="100" rows="3"
                                    class="form-control" maxlength="233"
                                    placeholder="Esta descriÃ§Ã£o ira aparecer na janela do treinamento..."></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button class="btn btn-primary">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</label>