.fluig-style-guide label {
    font-weight: bold !important;
}

/* Tabs*/

.tab-pane {
    padding: 20px;
}

.fluig-style-guide .nav-tabs>li.active>a,
.fluig-style-guide .nav-tabs>li.active>a:focus,
.fluig-style-guide .nav-tabs>li.active>a:hover {
    cursor: default !important;
    color: #ffffff !important;
    border: 1px solid #e6e7e8 !important;
    border-bottom-color: transparent !important;
    background-color: black !important;
}

#corpoInscritos tr td {
    padding:1;
}


.dataTables_wrapper{
  
}
#alteraPagante{
    position: relative;
    left: -30;
    top:10;
}    

#dataTreinamento,#horario{
    text-align:center; color:green; font-weight: bold;
}

#example{
    cursor: pointer;
}

#botoesCrudTreina{

padding-bottom:20px;
}

input[type=checkbox] {
    transform: scale(1.5);
}


#tituloAcontecer {
  
    font-weight: bold;
}


#tituloRealizados {
   
    font-weight: bold;
}

#carregando{
    left: 40%;
    top: 40%;
    position: absolute;

}


.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #ff7e00;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    position: absolute;
    margin-left: 45%;
    left: 120;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



  #fraseCarregando{
 
    text-shadow: 1px 1px black;
   padding-top: 5px;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 30%;

  }


  .dataTables_wrapper .dataTables_filter input {
      margin-left: 0;

  }

#example th,#example2 th,#example3 th, #acontecerConfirmados th, #passouConfirmados th{
    text-align: center;
}

 td{
    text-align: center;
}
